.uk-close{
  position: absolute;
  left: 570px;
}
.uk-button-primary{
  position: relative;
  left: 50px;
}
.uk-modal-close{
  position: relative;
  left: 50px;
}

input{
  border-style: solid;
  border-radius: 12px;
  border-color: grey;
  height: 25px;
}
select{
  border-style: solid;
  height: 31px;
  width: 100px;
  border-radius: 12px;
  border-color: grey;
}
