/* header y footer comienzo */
.nav-item{
  position: relative;
  left: 60px;
}
div.uk-navbar-right{
  position: relative;
  bottom: 6px;
}
input.uk-search-input{
  border-radius: 23px;
  position: relative;
  right: 120px;
  bottom: 10px;
  width: 200px;
}
button{
  position: relative;
  left: 88px;
  top: 20px;
  cursor: pointer;
}
 a.boton-login{
   position: relative;
   top: 22px;
   border: none;
 }

div.search {
  float: right;
  margin-top: 11px;
}

footer {
  overflow: hidden;
  background-color: black;
  position: absolute;
  width: 100%;

}
img.class-TMDB {
  width: 100px;
  float: left;
  position: relative;
  bottom: 30px;
}
footer div {
  float: left;
  width: 34%;
  color: springgreen;
  position: relative;
  top: 30px;
  text-align: center;
}
/* header y footer fin */
ul{
  list-style: none;
}
