/* header y footer comienzo */
.uk-navbar-container{
  display: flex;
  position: relative;
}
div.uk-navbar-right{
  position: relative;
  bottom: 6px;
}
input.uk-search-input{
  border-radius: 23px;
}

footer {
  overflow: hidden;
  background-color: black;
  position: absolute;
  width: 100%;

}
img.class-TMDB {
  width: 100px;
  float: left;
  position: relative;
  bottom: 30px;
}
footer div {
  float: left;
  width: 30%;
  color: gold;
  position: relative;
  top: 30px;
  text-align: center;
}
}
div.search {
  float: right;
  margin-top: 11px;
}
/* header y footer fin */

div.detalle-en-texto {
  text-decoration: underline;
}
div.genero-de-peli a {
  color: black;
  text-decoration: underline;
}

section.pelis-recomendados {
  overflow: hidden;
}
div.peli-recomendado {
  float: left;
  width: 20%;
}
div.recomendaciones {
  font-weight: bold;
  text-decoration: underline;
}
li.container-detallesDePelicula {
  overflow: hidden;
}
div.left-container-detallesDePelicula {
  float: left;
  width: 30%;
}
div.right-container-detallesDePelicula {
  float: left;
  width: 50%;
  margin-left: 15px;
}
#lista-pelicula-detalles {
  padding-left: 10px;
}
div h5 {
  line-height: 0.8;
}
