/* header y footer comienzo */
nav {
  overflow: hidden;
  background-color: black;
  margin-top: -8px;
}
img.class-logo {
  width: 200px;
  height: 130px;
  overflow: hidden;
  float: left;

}
nav div {
  float: left;
  width: 12%;
  overflow: hidden;
  margin-top: 40px;
}


nav div.buscador {

  float:right;
  width: 6%;
  overflow:hidden;
  margin-top: 78px;
  }


nav div a {
  color: gold;
  text-decoration: none;
}
div.texto {
  padding-top: 40px;
}
footer {
  overflow: hidden;
  background-color: black;

}
img.class-TMDB {
  width: 100px;
}
footer div {
  float: left;
  width: 30%;
  color: gold;
  position: relative;
}

div.container {

}
/* header y footer fin */

section.pelis-populares {
  overflow: hidden;
}

div.titulo-pelis-populares {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

div.pelis-popular {
  float: left;
  width: 25%;
}

section.mejor-puntaje {
  overflow: hidden;
}

div.titulo-mayor-puntaje {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

div.pelis-mayor-puntaje {
  float: left;
  width: 25%;
}

section.proximos-estrenos {
  overflow: hidden;
}

div.titulo-proximos-estrenos {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

div.pelis-proximos-estrenos {
  float: left;
  width: 25%;
}
div.pelis-popular img {
  width: 100%;
}

div.pelis-mayor-puntaje img {
  width: 100%;
}
div.pelis-proximos-estrenos img {
  width: 100%;
}
