/*body comienzo*/
body{
  background-color: white;
}

/* header y footer comienzo */

div.uk-navbar-right{
  position: relative;
  bottom: 6px;
}
input.uk-search-input{
  border-radius: 23px;
  position: relative;
  right: 120px;
  bottom: 10px;
  width: 200px;
}
button{
  position: relative;
  left: 88px;
  top: 20px;
}
 a.boton-login{
   position: relative;
   top: 22px;
   border: none;
 }


footer {
  overflow: hidden;
  background-color: black;
  position: absolute;
  width: 100%;

}
img.class-TMDB {
  width: 100px;
  float: left;
  position: relative;
  bottom: 30px;
}
footer div {
  float: left;
  width: 30%;
  color: springgreen;
  position: relative;
  top: 30px;
  text-align: center;
}
/* header y footer fin */



section.pelis-populares {
  overflow: hidden;
}

div.titulo-pelis-populares {
  color: springgreen;
  font-weight: bold;
  text-decoration: underline;
}

div.pelis-popular {
  float: left;
  width: 25%;
}

section.mejor-puntaje {
  overflow: hidden;
}

div.titulo-mayor-puntaje {
  color: springgreen;
  font-weight: bold;
  text-decoration: underline;
}

div.pelis-mayor-puntaje {
  float: left;
  width: 25%;
}

section.proximos-estrenos {
  overflow: hidden;
}

div.titulo-proximos-estrenos {
 color: springgreen;
 font-weight: bold;
 text-decoration: underline;
}

div.pelis-proximos-estrenos {
  float: left;
  width: 25%;
}
div.pelis-popular img {
  width: 100%;
}

div.pelis-mayor-puntaje img {
  width: 100%;
}
div.pelis-proximos-estrenos img {
  width: 100%;
}
.titulo-pelis-home {
  color: black;
}
@media screen { max-width

}
