/* header y footer comienzo */
.uk-navbar-container{
  display: flex;
  position: relative;
}
div.uk-navbar-right{
  position: relative;
  bottom: 6px;
}
input.uk-search-input{
  border-radius: 23px;
}

footer {
  overflow: hidden;
  background-color: black;
  position: absolute;
  width: 100%;

}
img.class-TMDB {
  width: 100px;
  float: left;
  position: relative;
  bottom: 30px;
}
footer div {
  float: left;
  width: 30%;
  color: gold;
  position: relative;
  top: 30px;
  text-align: center;
}
}
div.search {
  float: right;
  margin-top: 11px;
}
/* header y footer fin */
